<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Try</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="static/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="static/responsive.css">
<!-- fevicon -->
<link rel="icon" href="static/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="static/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="static/owl.carousel.min.css">
<link rel="stylesheet" href="static/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="shortcut icon" href="static/images/logo.png" />

</head>
<body>
	<!--header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo"><a href="/"><img src="static/images/logo.png"        
            style="

            width:100px;
            height:100px;
            margin-right: 200px;
            margin-bottom: 10px;
            margin-top: auto;
            "/      ></a></div>
                </div>
                <div class="col-md-9">
                    <div class="menu_text">
                        <ul>
                            <li><a href="/">Home</a></li>                                              
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/news">News</a></li>
                            <li><a href="/donate">Donations</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            {% if login == False %}
                            <li><a href="/login">Login</a></li>
                            {% else %}
                            <li><a href="/log_out">Log Out</a></li>
                            {% endif %}
                            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="/">Home</a>
                  <a href="/about">About</a>
                  <a href="/news">News</a>
                  <a href="/donate">Donations</a>
                  <a href="/contact">Contact Us</a>
                  {% if login == False %}
                  <a href="/login">Login</a>
                  {% else %}
                  <a href="/log_out">Log Out</a>
                  {% endif %}
                </div>
                </div>
                <span  style="font-size:33px;cursor:pointer; color:black;" onclick="openNav()"><img src="static/images/toggle.png" class="toggle_menu"></span>
                </div>  
                </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
    	<div id="my_Controls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
    		<div class="banner_taital">
                <h1 class="find_text"> TODAY'S YOUTH ARE TOMORROW'S COMMUNITY </h1>
                <h1 class="find_text">TRY</h1>
    		</div>
    		<div class="contact">
    		</div>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    		<div class="banner_taital">
    			<h1 class="find_text">VISION<hr> We envision a peaceful and tolerant community which carries a generation that is equipped with the right tools to resolve conflict in a peaceful way </h1>
    		</div>
    		<div class="contact">
    		</div>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    		<div class="banner_taital">
                <h1 class="find_text">MISSION<hr> To provide the youth who live in a violent society platform to meet and develop their sense of belonging through helping them adopt a more peaceful perspective on striving for change in the violent community</h1>
    		</div>
    		<div class="contact">
    		</div>
    	</div>
    </div>
  </div>
  
</div>
    	
    </div>
    <!-- banner section end -->

    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="footer_section_2">
          <div class="container">
            <div class="row map_addres">
              <div class="col-sm-12 col-lg-4">
                <div class="map_text"><img src="static/images/map-icon.png"><span class="map_icon">Iasa Jerusalem</span></div>
              </div>
                    <div class="col-sm-12 col-lg-4">
                      <li><a href="https://www.instagram.com/_try_official_/"><img src="static/images/instagram-icon.png" style="width: 20%"> <span><b>TRY-official</b></span> </a></li>
                    </div>
              <div class="col-sm-12 col-lg-4">
                <div class="map_text"><img src="static/images/email-icon.png"><span class="map_icon">naztry-club@gmail.com</span></div>
              </div>
            </div>
          </div>
        </div>
        <p></p>
    </div>
    <!-- footer section end -->






    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <script src="static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 


   <script>
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
   document.getElementById("myNav").style.width = "0%";
   }
</script>



     
</body>
</html>